[submodule "argos"]
	path = argos
	url = https://github.com/Saleslogix/argos.git
[submodule "database"]
	path = database
	url = https://github.com/Saleslogix/database-schema.git
[submodule "web-help"]
	path = web-help
	url = https://github.com/Saleslogix/web-help.git
